# Dependecies
**/node_modules

# Compiled Files
**/*.js


# Folders to ignore because they haven't been solved
Day8-TODO
Day9-TODO
Day10-TODO
Day11-TODO
Day12-TODO
Day13-TODO
Day14-TODO
Day15-TODO
Day16-TODO
Day17-TODO
Day18-TODO
Day19-TODO
Day20-TODO
Day21-TODO
Day22-TODO
Day23-TODO
Day24-TODO
Day25-TODO