# Dependecies
**/node_modules

# Compiled Files
**/*.js


# Folders to ignore because they haven't been solved
Exercise3
Exercise4
Exercise5
Exercise6
Exercise7-TODO
Exercise8-TODO
Exercise9-TODO
Exercise10-TODO
Exercise11-TODO
Exercise12-TODO
Exercise13-TODO
Exercise14-TODO
Exercise15-TODO
Exercise16-TODO
Exercise17-TODO
Exercise18-TODO
Exercise19-TODO
Exercise20-TODO
Exercise21-TODO
Exercise22-TODO
Exercise23-TODO
Exercise24-TODO
Exercise25-TODO